firebase-admin==6.5.0
fastapi==0.111.0
google-cloud-storage==2.16.0
gunicorn==22.0.0
keras==2.15.0
numpy==1.26.4
nltk==3.8.1
pydantic==2.7.1
requests==2.32.2
Sastrawi==1.0.1
tensorflow==2.15.0
uvicorn==0.29.0
# uvicorn[standard]